body{
    font-family:Roboto;
}
header{
    background-color:#1F2937;
    margin-top:0px;
    color:white;
    padding:2px 150px 60px 150px;
}
.head1{
    display:flex;
    padding-bottom:50px;
}
.logo{
   margin-right: 420px;;
   font-size:24px;
   color:#F9FAF8;
}

ul{
    list-style-type: none;
    display:flex;
    justify-content:space-between;
    font-weight:500;
    font-size:18px;
    color:#E5E7EB;
   
}

.small{
    font-weight:500;
    width:350px;
   
}
.big{
    font-size:48px;
    font-weight:900;
    width:350px;
}
button{
    background-color:#3882F6;
    border-color:#3882F6;
    border-radius: 8px;
    font-size:12px;
    color:white;
    padding:5px 20px 5px 20px;
    
    font-weight:800;
}
.textandbox{
    display:flex;

}
.placeholder{
    width:450px;
    height:220px;
    background-color:grey;
   
    align-items:center;
    display:flex;
    justify-content:center;
}
.textandbox{
display:flex;
justify-content:space-between;
}











.randominfo{
    padding:35px 250px 60px 250px;
}

.title{
    text-align:center;
    font-size:36px;
    color:#1F2937;
    font-weight:900;
}
b1{
    display:block;  
    height:140px;
    border-style:solid;
    border-width:4px;
    border-radius: 12px;
    width:140px;
    border-color:#3882F6;
    color:red;
}
.box1{
   
    width:140px;
    text-align:center;
}
.boxes{
    padding-top:35px;
    display:flex;
    justify-content:space-between;
}



.quote{
    background-color:#E5E7EB;
    padding:90px 210px 60px 250px;
}
.sen{
    font-style:italic;
    color:#1F2937;
    font-weight:lighter;
    font-size:36px;
   
   
    
   
}
   
    
.author{
    text-align: right;
    font-weight:800;
    font-size:24px;
}




.signup{
    background-color:#3882F6;
    height:70px;
    width:800px;
    color:white;
    border-radius:12px;
   padding:25px 50px 30px 50px;
   display:flex;
   justify-content:center;
   margin-left:170px;
   margin-top:70px;
   margin-bottom:70px;

}
button.up{
    border-color:white;
    border:2px;
    border-radius:12px;
    font-size:16px;

}
.p1{
    font-size:24px;
    margin-bottom:0px;
}
.p2{
    margin-top:0px;
    
}
footer{
    background-color:#1F2937;
    color:white;
    height:60px;
    margin-left:0px;
    text-align: center;
    padding-top:35px;
    padding-bottom:0px;
}



